/* shared style */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(246, 248, 254);
}
.container{
    max-width: 1080px;
    margin:0 auto;
}
.color{
    color: #E95A08;
}
.font-1{
    font-family: "Inter", sans-serif;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
}
.cart ul{
    display: flex;
    gap:48px;
    padding-top:24px;
    padding-bottom: 24px;
}
.cart ul li{
    list-style: none;
}
.cart ul li a{
    text-decoration: none;
}
.dark{
    color: rgb(137, 135, 161);
}
.font{
    font-weight:700;
    color: rgb(37, 36, 50);
}
.shop{
    font-weight:400;
    color: rgb(0, 0, 0);
}



/* banner style */
.banner{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top:230px;
    gap:4px;
}
.banner-description{
    flex: 1;
}
.banner-description h2{
    font-size:4rem;
    font-weight:700;
    line-height: 4rem;
}
.banner-description p{
    font-size:21px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 13px;
}
.banner-image{
    border: 2px dashed rgba(0, 0, 0, 0.4);   
  
}
/* card section */
.plants{
text-align: center;
margin-top:120px;
}
.plants h2{
    font-size: 3rem;
    font-weight: 700;
}
.plants p{
    font-size:1.27rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 16px;

}


.card-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    margin-top:100px;
    justify-content: center;
    text-align: center;
    
}
.card{
    width:100%;
}

.card button{
    background-color:rgb(230, 90, 8);
    font-size: 1rem;
    font-weight: 600;
    color: white;
    padding:10px 80px;
    border: none;
    margin-top: 10px;


}
.card h3{
    color: rgb(17, 17, 17);
    font-weight:490;
    margin-bottom:12px;
}
.card span{
    font-size:1.27rem;
    font-weight: 700;
    margin-bottom:6px;
}
.card img{
    margin-bottom:20px;
}
@media (max-width:576px){
    .hide{
        display: none;
    }
    .logo{
        margin-left:16px ;
        
    }
    .shop{
        margin-right:16px;
    
    }
    /* banner style */
    .banner{
        flex-direction:column-reverse;
    }
    .banner-image{
          width:100%;
    height: fit-content;
    }
    /* card style */
  
    .card-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       }
       .card img{
        width:100% ;
        height:auto;
        padding:20px;
       }
       .card button{
        padding: 12px 30px;
       }
       .plants p{
        margin-left:40px;
        margin-right: 40px;
       }
}